<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Home Todo App</title>
</head>

<body>
    <div class="mt-32">
        <div class="px-4 sm:px-8 max-w-5xl m-auto">
            <h1 class="text-center font-semibold text-sm">Todo List</h1>
            <p class="mt-2 text-center text-xs mb-4 text-gray-500">List of Todos</p>
            <ul class="border border-gray-200 rounded overflow-hidden shadow-md">
                {% for d in data %}

                <li
                    class="px-4 py-2 bg-white hover:bg-sky-100 hover:text-sky-900 border-b last:border-none border-gray-200 transition-all duration-300 ease-in-out">
                    {{d.description}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- <ul>
        {% for d in data %}
        <li>{{d.id}}</li>
        {% endfor %}
    </ul> -->
</body>

</html>